main {
  margin: 50px 0;
}

main .cart-container {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, 0.14);
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

main .cart-container .cart-title {
  height: 60px;
  padding: 0 10px 0 30px;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 8px 8px 0 0;
  background: #fafafa;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.6);
}

main .cart-container .cart-title h2 {
  font-size: 16px;
  font-weight: 900;
}

main .cart-container .cart-empty {
  padding: 385px 0 0;
  background: url(../images/cart_empty.png) no-repeat center 50px;
  text-align: center;
  display: none;
}

main .cart-container .cart-empty h3 {
  font-size: 14px;
  line-height: 1.5;
  color: #8d8d8d;
  margin-bottom: 17px;
}

main .cart-container .cart-empty a {
  margin: 50px auto;
  display: block;
  border-radius: 6px;
  width: 140px;
  line-height: 46px;
  border: 1px solid #e1e1e1;
  color: #646464;
  height: 46px;
  background: #f9f9f9;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

main .cart-container .cart-empty a:hover {
  background: #e8e8e8;
}

main .cart-container .cart-full .cart-thead {
  line-height: 38px;
  height: 38px;
  padding: 0 0 0 30px;
  font-size: 12px;
  font-weight: 700;
  background: #f5f5f5;
  border-bottom: 1px solid #dbdbdb;
  border-bottom-color: rgba(0, 0, 0, 0.08);
}

main .cart-container .cart-full .cart-thead span {
  display: block;
  color: #838383;
}

main .cart-container .cart-full .cart-thead .left {
  float: left;
}

main .cart-container .cart-full .cart-thead .right {
  text-align: center;
  float: right;
  width: 137px;
}

main .cart-container .cart-full .cart-body ul li .items-cont {
  display: flex;
  height: 110px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .checkCont {
  margin: 50px 0 0 40px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .imgCont img {
  margin-top: 15px;
  margin-left: 30px;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  display: block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
}

main .cart-container .cart-full .cart-body ul li .items-cont .nameCont {
  margin-left: 20px;
  width: 450px;
  color: #323232;
  height: 100%;
}

main .cart-container .cart-full .cart-body ul li .items-cont .nameCont .name {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .nameCont .discription {
  color: #999;
  font-size: 12px;
  padding-top: 6px;
  line-height: 17px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .priceCont {
  margin-left: 60px;
  text-align: center;
  color: #666;
  line-height: 110px;
  font-size: 14px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .priceCont::before {
  padding-right: 2px;
  content: "\A5";
}

main .cart-container .cart-full .cart-body ul li .items-cont .numCont {
  display: flex;
  padding-top: 35px;
  margin-left: 35px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .numCont .num {
  width: 60px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}

main .cart-container .cart-full .cart-body ul li .items-cont .numCont .btn {
  width: 35px;
  height: 35px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  color: #666;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.06);
}

main .cart-container .cart-full .cart-body ul li .items-cont .numCont .btn:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

main .cart-container .cart-full .cart-body ul li .items-cont .numCont .btn.disabled {
  cursor: not-allowed;
}

main .cart-container .cart-full .cart-body ul li .items-cont .numCont .btn.disabled:hover {
  background: #fff;
}

main .cart-container .cart-full .cart-body ul li .items-cont .countCont {
  margin-left: 40px;
  text-align: center;
  color: #666;
  line-height: 110px;
  font-size: 14px;
}

main .cart-container .cart-full .cart-body ul li .items-cont .countCont::before {
  padding-right: 2px;
  content: "\A5";
}

main .cart-container .cart-full .cart-body ul li .items-cont .oprateCont {
  flex: 1;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}

main .cart-container .cart-full .cart-body ul li .items-cont .oprateCont span {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url(../images/delete-btn-icon.png) no-repeat;
  background-size: 100%;
}

main .cart-container .cart-full .cart-body ul li .items-cont .oprateCont span:hover {
  background-position: 0 -35px;
}

main .cart-container .cart-full .cart-foot {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.04);
  height: 80px;
}

main .cart-container .cart-full .cart-foot .checkAll {
  display: flex;
  margin: 20px 0 0 40px;
}

main .cart-container .cart-full .cart-foot .checkAll input {
  cursor: pointer;
  margin-top: 20px;
}

main .cart-container .cart-full .cart-foot .checkAll label {
  margin-top: 17px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

main .cart-container .cart-full .cart-foot .shipping {
  display: flex;
  padding: 17px 30px;
  line-height: 46px;
}

main .cart-container .cart-full .cart-foot .shipping .countNum {
  border-right: 1px solid #e1e1e1;
  padding: 0 20px;
  color: #323232;
  font-size: 18px;
  font-weight: 700;
}

main .cart-container .cart-full .cart-foot .shipping .countNum span {
  color: #d44d44;
  margin: 0 10px;
}

main .cart-container .cart-full .cart-foot .shipping .countPrice {
  padding: 0 20px;
  color: #323232;
  font-size: 18px;
  font-weight: 700;
}

main .cart-container .cart-full .cart-foot .shipping .countPrice span {
  color: #d44d44;
  margin: 0 10px;
}

main .cart-container .cart-full .cart-foot .shipping .countPrice span::before {
  padding-right: 2px;
  content: "\A5";
}
